<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>

    <%- include ('partial/nav') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="ind" >
    <div class="new">
        <style>
        body {
            background-image: url("background.jpg");
           
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    </style>
   <br>

   <br>
    <div class="contact" style="position:relative; left: 580px;">
        
        <h1 class="c">Welcome to visit Lovely Pet!</h1>
        <h1 class="c">Your feedback is important for us!</h1>
    <br>
        <button type="button" class="btn-lg btn-success" style="margin:100px;">Email</button>
   
        <button type="button" class="btn-lg btn-success">Call Us</button>
    </div>
    
</div>
</div>


</body>

</html>