<div class="footer" >
    <div class="footer-row">© 2020 LovelyPet</div>
    <div class="footer-row"><a href="/privacy"> Privacy</a></div>
    <div class="footer-row"><a href="/terms"> Terms</a></div>
</div>
